# Server
server/node_modules/
server/.env

# Logs
*.log
npm-debug.log*

# Operating System Files
.DS_Store
Thumbs.db

# Editor Settings (Optional)
.vscode/

build/
docs/
# Microsoft Word temporary files
~$*
*.tmp