.orders-container{
    min-height:100vh;
    background:#111;
    color:white;
    padding:40px 8%;
}

.orders-container h1{
    text-align:center;
    margin-bottom:40px;
}

.empty-orders{
    text-align:center;
    color:#999;
}

.order-card{
    background:#1b1b1b;
    border:1px solid #333;
    border-radius:15px;
    padding:25px;
    margin-bottom:25px;
}

.order-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.status{
    background:#ff5722;
    padding:6px 15px;
    border-radius:20px;
    font-size:14px;
}

.order-item{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:20px;
    padding:15px 0;
    border-bottom:1px solid #333;
}

.order-item:last-child{
    border:none;
}

.order-item img{
    width:80px;
    height:80px;
    border-radius:10px;
    object-fit:cover;
}

.order-item div{
    flex:1;
}

.order-footer{
    display:flex;
    justify-content:space-between;
    margin-top:25px;
    padding-top:20px;
    border-top:1px solid #333;
}

.order-footer strong{
    color:white;
}

.order-footer p{
    color:#bbb;
    margin-top:5px;
}

@media(max-width:768px){

    .orders-container{
        padding:25px 5%;
    }

    .order-header,
    .order-footer,
    .order-item{
        flex-direction:column;
        align-items:flex-start;
    }

    .order-item img{
        width:100%;
        height:180px;
    }

}