.empty-state{

    min-height:40vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    color:#bbb;

    padding:20px;
}

.empty-state h2{

    color:white;

    margin-bottom:10px;
}

.empty-state p{

    color:#888;
}