.hero {

    max-width: 1000px;

    margin: auto;

    text-align: center;

    padding: 70px 20px 50px;
}

.hero h1 {

    font-size: 3rem;

    line-height: 1.2;

    margin-bottom: 20px;
}

.hero p {

    max-width: 650px;

    margin: auto;

    margin-bottom: 30px;

    color: var(--text-light);

    font-size: 1.1rem;
}

.hero button {

    background: var(--primary);

    color: white;

    padding: 14px 32px;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    transition: var(--transition);
}

.hero button:hover {

    background: var(--primary-hover);
}

@media (max-width:768px){

.hero{

padding:55px 20px 40px;

}

.hero h1{

font-size:2.2rem;

}

.hero p{

font-size:15px;

}

.hero button{

width:220px;

}

}

@media (max-width:480px){

.hero h1{

font-size:1.8rem;

}

.hero p{

font-size:14px;

}

.hero button{

width:100%;

}

}